<!DOCTYPE html>
<html>
<head>
	<title>Search Employee</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <script src="fontawesome/js/all.js"></script>
    <script src="datatables/js/jquery.dataTables.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- Input form -->
	<div class="container" id="signup-container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                             <div class="col">
                                <center>
                                    <h3>HR System</h3>
                                     <asp:Label ID="lblSaved" runat="server" Visible="false" Text="Changes saved." ForeColor ="Green"></asp:Label>
                                 </center>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                               
                                <label>Search Employee by Number</label>
								<div class="form-group">
								   <input type="text" width="100%" class="form-control" ID="txtID" runat="server" Enabled="False"></input>
								</div>
                           </div>
                       </div>
                       <div class="row">
                        <div class="col">
                           
                            <div id="searchEmp">
                                <button style="width: 100%;" class="btn btn-outline-success" OnClick="saveBtn_Click1" ID="saveBtn" runat="server" Text="Save Changes" ValidationGroup="validGrp"><i class="fa fa-search"></i> Search</input>
                            </div>
                            <br>

                            <a href="addEmployee.html">
                            <div id="addEmp"></div>
                                    <button style="width: 100%;" class="btn btn-outline-info" OnClick="saveBtn_Click1" ID="saveBtn" runat="server" Text="Save Changes" ValidationGroup="validGrp"><i class="fa fa-plus"></i> Add New Employee</input>
                               
                            </div>
                             </a>
                       </div>
                       
                   </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" width="30%">Employee ID</th>
                    <td>First</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">First Name</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">Last Name</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <th scope="row">Primary Skills</th>
                    <td>Larry</td>
                  </tr>
                  <tr>
                    <th scope="row">Location</th>
                    <td>Penang</td>
                  </tr>
                  <tr>
                    <th scope="row">Photo</th>
                    <td>.jpg</td>
                  </tr>
                </tbody>
              </table>
        </div>

        
    </div>
   
</body>

</html>