<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <script src="fontawesome/js/all.js"></script>
    <script src="datatables/js/jquery.dataTables.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- Input form -->
	<div class="container" id="signup-container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                          <div class="row">
                             <div class="col">
                                <center>
                                   <h3>Add New Employee</h3>
                                    <asp:Label ID="lblSaved" runat="server" Visible="false" Text="Changes saved." ForeColor ="Green"></asp:Label>
                                </center>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col">
                                <hr>
                             </div>
                          </div>
                        <br />
                        <div class="row" style="margin-top : 0; margin-right: 30px;">
							
                            <div class="col-md-12">
								
								
								<div class="container text-center" id="profileImg">
									<label class="custom-file-upload">
										<input type="file"style="width: 100%; display: none"/>
											<label style="width: 100%;" type="submit" class="btn btn-outline-info" onclick="showBrowseDialog()"><i class="fa fa-cloud-upload"></i> Custom Upload</button>
										
									</label>
									
								<br><br><br>
                                    <img src="images/default-profile-icon.jpg" style="width:160px;height:160px" /> </label>
							
								</div>

								
							 </div>

							 
                                

								<br \>
								<br \>

								<div id="uploadImg">
									
                                   

                                     
                                    <asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
                                    
                                    

                                    <button runat="server" ID="hideButton" Text="" Style="display: none;" OnClick="UploadButton_Click" >

                                    <script type="text/javascript" language="javascript">
                                        function showBrowseDialog() {
                                            var fileuploadctrl = document.getElementById('<%= FileUpload1.ClientID %>');
                                            fileuploadctrl.click();
                                        }

                                        function upload() {
                                            var btn = document.getElementById('<%= hideButton.ClientID %>');
                                            btn.click();
                                        }
                                    </script>
                                </div>
                                <br />
                                

                                <br />

								
                            </div>
                        

                            <script type="text/javascript"> 
                                function deleteJor() {
                                    let confirmAction = confirm("Confirm delete?\nYou cannot revert this action and all your data will be archived.");
                                    if (confirmAction) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }

                                </script>

                            
                        </div>
                        <div class="row" style="margin-left: 30px; margin-top: 30px; margin-right: 30px;">
							<div class="col-md-6">
								<label>Employee Number<span style="color: red"> *</span></label>
								<div class="form-group">
								   <input type="text" width="100%" class="form-control" ID="txtID" runat="server" Enabled="False"></input>
								</div>
							</div>
							<div class="col-md-6">
								<label>Employee Name<span style="color: red"> *</span></label>
								<div class="form-group">
								   <input type="text" width="100%" class="form-control" ID="txtName" runat="server"></input>
									<asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvName" runat="server" ErrorMessage="Name Required" ControlToValidate="txtName" ForeColor ="Red" Display="Dynamic" SetFocusOnError="True"></asp:RequiredFieldValidator>
								</div>
							</div>

                          
                        </div>
                        <br />
                        <hr />
                        <br />

						

						<div class="row"  style="margin-left: 30px; margin-top : 0; margin-right: 30px;">
                            <div class="col-md-4">
                                <label>Job Title<span style="color: red"> *</span></label>
                                    <div class="form-group">
                                       <input type="text" class="form-control" ID="txtAddress" runat="server"></input>
                                        <asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvAddress" runat="server" ErrorMessage="Address Required" ControlToValidate="txtAddress" ForeColor ="Red" Display="Dynamic"  SetFocusOnError="True"></asp:RequiredFieldValidator>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <label>Department<span style="color: red"> *</span></label>
                                    <div class="form-group">
                                       <input type="text" class="form-control" ID="txtCity" runat="server"></input>
                                        <asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvCity" runat="server" ErrorMessage="City Required" ControlToValidate="txtCity" ForeColor ="Red" Display="Dynamic"  SetFocusOnError="True"></asp:RequiredFieldValidator>
                                    </div>
                                </div>

							<div class="col-md-4">
								<label>Job Status<span style="color: red"> *</span></label>
								<div class="form-group">
									<input type="text" class="form-control" ID="txtCity" runat="server"></input>
									<asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvCity" runat="server" ErrorMessage="City Required" ControlToValidate="txtCity" ForeColor ="Red" Display="Dynamic"  SetFocusOnError="True"></asp:RequiredFieldValidator>
								</div>
							</div>

							<div class="col-md-4">
								<label>Confirmation Date<span style="color: red"> *</span></label>
								<div class="form-group">
									<input type="text" class="form-control" ID="txtCity" runat="server"></input>
									<asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvCity" runat="server" ErrorMessage="City Required" ControlToValidate="txtCity" ForeColor ="Red" Display="Dynamic"  SetFocusOnError="True"></asp:RequiredFieldValidator>
								</div>
							</div>
                        </div>

						
						<hr />
						<br />
                        <div class="row" style="margin-left: 30px; margin-top : 0; margin-right: 30px;">
                            <div class="col-md-4">
                                <label>Email Address</label>
                                    <div class="form-group">
                                       <input type="text" class="form-control" ID="txtEmail" Enabled="false" runat="server"></input>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <label>Handphone Number<span style="color: red"> *</span></label>
                                    <div class="form-group">
                                       <input type="text" class="form-control" ID="txtContactNo" runat="server"></input>
                                        </div>
                            </div>
                            <div class="col-md-4">
                                <label>Date of Birth<span style="color: red"> *</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ID="txtBirth" runat="server" TextMode="Date"></input>
                                             </div>
                            </div>
                        </div>
                        <div class="row"  style="margin-left: 30px; margin-top : 0; margin-right: 30px;">
                            <div class="col-md-12">
                                <label>Address<span style="color: red"> *</span></label>
                                    <div class="form-group">
                                       <input type="text" class="form-control" ID="txtAddress" runat="server"></input>
                                        <asp:RequiredFieldValidator ValidationGroup="validGrp" ID="rfvAddress" runat="server" ErrorMessage="Address Required" ControlToValidate="txtAddress" ForeColor ="Red" Display="Dynamic"  SetFocusOnError="True"></asp:RequiredFieldValidator>
                                    </div>
                            </div>
                            
                        
                        </div>
                        
                        <br />
                         <div class="row" style="margin-left: 30px; margin-top : 0; margin-right: 30px;">
                            <div class="col-md-12">
                                <label style="color:red">Required Fields *</label>
                            </div>    
                         </div>



						<br />
						<hr />
						<div class="row" style="margin-left: 30px; margin-top : 0; margin-right: 30px;">
							<div class="col-md-12">
                                <div id="createEmployee">
                                    <button style="width: 100%;" class="btn btn-outline-success" OnClick="saveBtn_Click1" ID="saveBtn" runat="server" Text="Save Changes" ValidationGroup="validGrp"><i class="fa fa-add"></i> Create Employee</input>
                                </div>
                            </div>
							
						
						</div>
                        <br />
                        
                        <br />
                    </div>
                </div>
            </div>
        </div>
   
</body>

</html>